<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../firebase-element/firebase-auth.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../paper-input/paper-input.html">

<link rel="import" href="../syloc/syloc-sortable-group.html">


<dom-module id="syloc-edit-album">
  <template>
    <style>
      #container {
        margin: 20px auto;
        width: 90%;
        max-width: 600px;
      }
      paper-fab {
        float: right;
      }
    </style>
    <firebase-auth
        id="firebase"
        location="https://syloc.firebaseio.com/group/[[key]]"
        provider="google"
        ref="{{_ref}}"></firebase-auth>
    <div id="container">
      <syloc-sortable-group key="[[key]]" value="[[_data]]" on-drop="_drop" on-dragover="_allowDrop" on-parent="_updateParent" id="grp"></syloc-sortable-group>
      <paper-fab icon="add" on-click="_toggleAddGroupDialog"></paper-fab>
		</div>
	</div>
	<paper-dialog id="addGroupDialog">
    <h2>Add Group</h2>
    <paper-input label="Name" value="{{_newGroupName}}"></paper-input>
    <div class="buttons">
      <paper-button dialog-dismiss>Cancel</paper-button>
      <paper-button dialog-confirm on-click="_createGroup">Accept</paper-button>
    </div>
  </paper-dialog>
  </template>
</dom-module>

<script>
  /* global Polymer */
  Polymer({
    is: 'syloc-edit-album',
    properties: {
      _data: Object,
      _ref: {
        type: Object,
        observer: '_refChanged',
      },
      _dragParent: Object,
      _newGroupName: String,
    },
    _refChanged: function() {
      if (!this._ref) return;
      this.$.firebase.login();
      this._ref.orderByChild('pos').once('value',
          function(data) {
            this._data = data.val();
          }.bind(this));
    },
    _allowDrop: function(e) {
      e.preventDefault();
    },
    _drop: function(e) {
      e.preventDefault();
      var normalizedEvent = Polymer.dom(e);
      for (var i = 0; i < normalizedEvent.path.length - 1; ++i) {
        var el = normalizedEvent.path[i];
        if (el.tagName === 'SYLOC-SORTABLE-GROUP') {
          console.info('new group is: ', el.key);
          console.info('pic was: ', e.dataTransfer.getData('key'));
          this._movePhoto(this._data, e.dataTransfer.getData('key'), e.dataTransfer.getData('value'), el.key, this.key);
          el.render();
          this._dragParent.render();
          break;
        }
      }
      this._ref.set(this._data);
    },
    _movePhoto: function(data, photoKey, photoValue, newGroupKey, currentKey) {
      for (var key in data) {
        // skip loop if the property is from prototype
        if (!data.hasOwnProperty(key)) continue;
        if (key === photoKey) delete data[key];
        if (typeof data[key] === 'object') this._movePhoto(data[key], photoKey, photoValue, newGroupKey, key);
      }
      if (currentKey === newGroupKey) data[photoKey] = photoValue;
    },
    _updateParent: function(e) {
      this._dragParent = e.detail;
    },
    _toggleAddGroupDialog: function(e, detail, sender) {
      this.$.addGroupDialog.toggle();
    },
    _createGroup: function() {
      this._data[this._newGroupName] = {};
      this._newGroupName = '';
      this.$.grp.render();
    },
  });
</script>