<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../firebase-element/firebase-auth.html">
<link rel="import" href="../paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../paper-dialog-behavior/paper-dialog-shared-styles.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-input/paper-input.html">

<link rel="import" href="../syloc/global-behavior.html">


<dom-module id="syloc-photos-add">
  <style>
    paper-dialog-scrollable {
      width: 300px;
      height: 300px;
    }
  </style>
  <template>
    <style include="paper-dialog-shared-styles"></style>
    <firebase-auth
        id="firebase"
        location="https://syloc.firebaseio.com/album/[[albumKey]]"
        provider="google"
        ref="{{_ref}}"></firebase-auth>
    <firebase-auth
        id="firebaseGroup"
        location="https://syloc.firebaseio.com/group/[[albumKey]]"
        provider="google"
        ref="{{_refGroup}}"></firebase-auth>
    <div>
      <h2>Update [[albumKey]]</h2>
      <paper-dialog-scrollable>
        <div>
          Navigate to
          <a href="https://picasaweb.google.com/data/feed/api/user/[[global.adminId]]/albumid/[[albumId]]?imgmax=d" target="_blank">link</a>,
          and copy & paste the output into the text input below.
        </div>
        <paper-input label="Album XML" value="{{_albumXml}}"></paper-input>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm on-click="save">Accept</paper-button>
      </div>
    </div>
  </template>
</dom-module>

<script>
  /* global Polymer */
  Polymer({
    is: 'syloc-photos-add',
    behaviors: [
      GlobalBehavior,  /* global GlobalBehavior */
      Polymer.PaperDialogBehavior,
    ],
    properties: {
      authToken: {
        type: String,
        notify: true,
        observer: '_authTokenChanged',
      },
      albumKey: String,
      albumId: String,
      _albumXml: String,
      _ref: Object,
      _refGroup: Object,
    },
    _authTokenChanged: function() {
      if (this._ref && !this._ref.getAuth()) {
        this.$.firebase.login({ 'token': this.authToken });
        this.$.firebaseGroup.login({ 'token': this.authToken });
      }
    },
    save: function(e) {
      var album = { 'photo': {}, 'thumbnail': { 's72': {}, 's144': {}, 's288': {} } };
      this._parsePhotosXml(this._albumXml, album);
      this._ref.set(album);
      var groups = album.thumbnail.s72;
      this._refGroup.once('value',
          function(data) {
            data = data.val();
            this._filterOutDuplicates(groups, data);
            data = this._appendPhotos(groups, data);
            this._refGroup.set(data);
          }.bind(this));
    },
    _parsePhotosXml: function(xml, album) {
      if (!xml) return;
      /* global DOMParser */
      var parser = new DOMParser();
      var xmlDoc = parser.parseFromString(xml, 'text/xml');
      var entries = xmlDoc.getElementsByTagName('entry');
      for (var idx = 0; idx < entries.length; ++idx) {
        var entry = entries[idx];
        var media = entry.getElementsByTagName('group')[0];
        var url = media.getElementsByTagName('content')[0].getAttribute('url');
        var name = media.getElementsByTagName('title')[0].textContent;
        name = name.replace(/[\\.#$/[\]]/g, '-');
        album.photo[name] = url;
        var thumbs = media.getElementsByTagName('thumbnail');
        for (var j = 0, width = 0; j < thumbs.length; ++j) {
          var thumb = thumbs[j];
          var width = 's' + thumb.getAttribute('width');
          if (!album.thumbnail[width]) album.thumbnail[width] = {};  // jic
          album.thumbnail[width][name] = thumb.getAttribute('url');
        }
      }
    },
    // removes from photos those that are already in the groups, and removes
    // from the groups those photos which no longer exist.
    _filterOutDuplicates: function(photos, groups) {
      for (var key in groups) {
        if (!groups.hasOwnProperty(key)) continue;
        if (typeof groups[key] === 'object') photos = this._filterOutDuplicates(photos, groups[key]);
        else if (photos[key]) delete photos[key];
        else delete groups[key];
      }
      return photos;
    },
    _appendPhotos: function(photos, groups) {
      for (var key in photos) {
        if (!photos.hasOwnProperty(key)) continue;
        groups[key] = photos[key];
      }
      return groups;
    },
  });
</script>