<link rel="import" href="../polymer/polymer.html">


<script>
  /* global Polymer */
  Polymer({
    is: 'syloc-constants',
    properties: {
      userId: {
        type: String,
        value: '117561345629918325267',
        readOnly: true,
        notify: true,
      },
      albumPath: {
        type: String,
        value: '/a/',
        readOnly: true,
        notify: true,
      },
      adminPath: {
        type: String,
        value: '/master',
        readOnly: true,
        notify: true,
      },
      adminAlbumPath: {
        type: String,
        value: function() { return this.adminPath + this.albumPath; },
        readOnly: true,
        notify: true,
      },
    },
  });
</script>