<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../firebase-element/firebase-auth.html">
<link rel="import" href="../paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../paper-dialog-behavior/paper-dialog-shared-styles.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-input/paper-input.html">

<link rel="import" href="../syloc/global-behavior.html">


<dom-module id="syloc-album-add">
  <style>
    paper-dialog-scrollable {
      width: 300px;
      height: 300px;
    }
  </style>
  <template>
    <style include="paper-dialog-shared-styles"></style>
    <firebase-auth
        id="firebase"
        location="https://syloc.firebaseio.com/key/[[key]]"
        provider="google"
        ref="{{_firebaseRef}}"></firebase-auth>
    <div>
      <h2>New Album</h2>
      <paper-dialog-scrollable>
        <paper-input label="Key" value="{{key}}"></paper-input>
        <paper-input label="Title" value="{{title}}"></paper-input>
        <div>
          Navigate to
          <a href="https://picasaweb.google.com/data/feed/api/user/[[global.adminId]]?kind=album" target="_blank">link</a>,
          and copy & paste the output into the text input below.
        </div>
        <paper-input label="Albums XML" value="{{albumsXml}}"></paper-input>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-dismiss on-click="_clearValues">Cancel</paper-button>
        <paper-button dialog-confirm on-click="save" disabled="[[_isAlbumFound(title, albumEntries)]]">Accept</paper-button>
      </div>
    </div>
  </template>
</dom-module>

<script>
  /* global Polymer */
  Polymer({
    is: 'syloc-album-add',
    behaviors: [
      GlobalBehavior,  /* global GlobalBehavior */
      Polymer.PaperDialogBehavior,
    ],
    properties: {
      key: String,
      title: String,
      albumsXml: String,
      albumEntries: {
        type: Array,
        computed: '_parseAlbumsXml(albumsXml)',
      },
      _firebaseRef: Object,
      authToken: {
        type: String,
        notify: true,
        observer: '_authTokenChanged',
      },
    },
    _authTokenChanged: function() {
      if (this._ref && !this._ref.getAuth()) this.$.firebase.login({ 'token': this.authToken });
    },
    _clearValues: function() {
      this.key = '';
      this.title = '';
      this.albumsXml = '';
    },
    save: function(e) {
      var album = this._findAlbum(this.title, this.albumEntries);
      this._firebaseRef.set(album.id);
      this.$.firebase.logout();
      this._clearValues();
    },
    _parseAlbumsXml: function(xml) {
      var albumEntries = [];
      if (!xml) return albumEntries;
      /* global DOMParser */
      var parser = new DOMParser();
      var xmlDoc = parser.parseFromString(xml, 'text/xml');
      var entries = xmlDoc.getElementsByTagName('entry');
      for (var idx = 0; idx < entries.length; ++idx) {
        var entry = {};
        var uri = entries[idx].getElementsByTagName('id')[0].textContent;
        entry['id'] = uri.substr(uri.lastIndexOf('/') + 1)
        entry['name'] = entries[idx].getElementsByTagName('title')[0].textContent.toLowerCase();
        albumEntries.push(entry);
      }
      return albumEntries;
    },
    _findAlbum: function(title, albumEntries) {
      if (!title || !albumEntries || !albumEntries.length) return null;
      var lcTitle = title.toLowerCase();
      var entry = null;
      for (var i=0; i < albumEntries.length; ++i) {
        if (albumEntries[i].name.indexOf(lcTitle) >= 0) {
          if (!!entry) return null;
          entry = albumEntries[i];
        }
      }
      return entry;
    },
    _isAlbumFound: function(title, albumEntries) {
      return !this._findAlbum(title, albumEntries);
    },
  });
</script>