<link href="../polymer/polymer.html" rel="import">

<link href="../firebase-element/firebase-collection.html" rel="import">
<link href="../iron-ajax/iron-ajax.html" rel="import">


<dom-module id="syloc-album">
  <link href="../syloc/theme-melon.css" type="css" rel="import">
  <style is="custom-style">
    :host {
      height: 100%;
    }
    .grid {
      margin: 0 auto;
      -webkit-column-count: 3;
      -webkit-column-gap: 10px;
        width: calc(288px * 3 + 10px * 2);
    }
    @media screen and (max-width: 1000px) {
      .grid {
        -webkit-column-count: 2;
        width: calc(288px * 2 + 10px);
      }
    }
    @media screen and (max-width: 700px) {
      .grid {
        -webkit-column-count: 1;
        width: calc(288px * 1);
      }
    }
    .grid-item {
      line-height: 0;
      margin-bottom: 10px;
      display: inline-block;
      width: 288px;
    }
    img {
      width: 100%;
    }
  </style>
  <template>
    <firebase-collection location="https://syloc.firebaseio.com/albums/[[key]]/thumbnails" data="{{thumbnails}}"></firebase-collection>
    <div class="grid">
      <template is="dom-repeat" items="[[thumbnails]]" as="photo">
        <div class="grid-item"><img src="[[photo.value]]"></div>
      </template>
    </div>
  </template>
</dom-module>

<script>
  /* global Polymer */
  Polymer({
    is: 'syloc-album',
    properties: {
      key: String,
      thumbnails: Array,
    },
  });
</script>