<link rel="import" href="../polymer/polymer.html">


<dom-module id="syloc-album-list-item">
  <template>
    <style>
      #album-item {
        border-bottom-color: var(--divider-color);
        border-bottom-style: solid;
        border-bottom-width: 1px;
      }
    </style>
    <div id="album-item">
      [[albumName]]
    </div>
  </template>
</dom-module>

<script>
  /* global Polymer */
  Polymer({
    is: 'syloc-album-list-item',
    properties: {
      albumName: String,
      albumId: String,
    },
  });
</script>