<link href="../polymer/polymer.html" rel="import">

<link href="../paper-button/paper-button.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">
<link href="../paper-input/paper-textarea.html" rel="import">
<link href="../paper-material/paper-material.html" rel="import">
<link href="../paper-toast/paper-toast.html" rel="import">


<dom-module id="syloc-album-form">
  <link href="../syloc/theme-melon.css" type="css" rel="import">
  <style is="custom-style">
    #card {
      padding: 20px 48px 40px;
      margin-bottom: 48px;
    }
  </style>
  <template>
    <div>
      <div>Nicole Sykes Locations</div>
    </div>
    <br>
    <paper-material elevation="2" id="card">
      <paper-input label="Key" value="{{key}}"></paper-input>
      <paper-textarea label="Album XML" value="{{albumXml}}"></paper-textarea>
      <a href="https://picasaweb.google.com/data/feed/api/user/117561345629918325267/albumid/6268118273906609361?imgmax=d">link</a>
      <br>
      <div>
        <paper-button raised on-click="_onClick">Submit</paper-button>
      </div>
    </paper-material>
    <paper-toast id="toast"></paper-toast>
  </template>
</dom-module>

<script>
  /* global Polymer */
  Polymer({
    is: 'syloc-album-form',
    properties: {
      title: String,
      albumXml: String,
    },
    _parsePhotosXml: function(album) {
      /* global DOMParser */
      var parser = new DOMParser();
      var xmlDoc = parser.parseFromString(this.albumXml, 'text/xml');
      var entries = xmlDoc.getElementsByTagName('entry');
      for (var idx = 0; idx < entries.length; ++idx) {
        var entry = entries[idx];
        var media = entry.getElementsByTagName('group')[0];
        var url = media.getElementsByTagName('content')[0].getAttribute('url');
        var name = media.getElementsByTagName('title')[0].textContent;
        name = name.replace(/[\\.#$/[\]]/g, '-');
        album.photos[name] = url;
        var thumbs = media.getElementsByTagName('thumbnail');
        for (var j = 0, width = 0; j < thumbs.length; ++j) {
          var thumb = thumbs[j];
          if (thumb.getAttribute('width') > width) {
            album.thumbnails[name] = thumb.getAttribute('url');
          }
        }
      }
    },
    _onClick: function(event) {
      /* global Firebase */
      var ref = new Firebase('https://syloc.firebaseio.com/albums');
      ref.authWithOAuthPopup('google',
          function(error, authData) {
            if (error) {
              window.console.log('Login Failed!', error);
              this.$.toast.text = 'Login failed.';
              this.$.toast.show();
            } else {
              window.console.log('Authenticated successfully with payload: ', authData);
              ref.once('value',
                  function(albumsSnapshot) {
                    var album = { 'photos': {}, 'thumbnails': {} };
                    if (albumsSnapshot.hasChild(this.key)) {
                      albumsSnapshot.child(this.key).ref().remove();
                      album = albumsSnapshot.child(this.key).val();
                    }
                    this._parsePhotosXml(album);
                    ref.child(this.key).set(album,
                        function(err) {
                          if (err) {
                            window.console.log('Data could not be saved. ' + err);
                            this.$.toast.text = 'Review could not be saved.';
                            this.$.toast.show();
                          } else {
                            window.console.log('Data saved successfully.');
                            this.$.toast.text = 'Album saved successfully.';
                            this.$.toast.show();
                            this.key = '';
                            this.albumXml = '';
                          }
                        }.bind(this));
                  }.bind(this),
                  function (err) {
                    window.console.log('Data could not be read. ' + err);
                    this.$.toast.text = 'Review could not be saved.';
                    this.$.toast.show();
                  }.bind(this));
            }
          }.bind(this));
    },
  });
</script>