<link href="../polymer/polymer.html" rel="import">

<link href="../firebase-element/firebase-document.html" rel="import">
<link href="../iron-a11y-keys/iron-a11y-keys.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">


<dom-module id="syloc-main">
  <template>
    <style>
      :host {
        background-position: center;
        background-size: cover;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .input-box {
        padding: 12px;
        border-radius: 16px;
      }
    </style>
    <iron-a11y-keys target="[[a11yKeysTarget]]" keys="enter"
                    on-keys-pressed="onEnter"></iron-a11y-keys>
    <firebase-document location="[[firebaseUrl]]"
                       data="{{bgUrl}}"></firebase-document>
    <section hero class="input-box">
      <paper-input label="Key" id="input" value="{{key::input}}"></paper-input>
    </section>
  </template>
</dom-module>

<script>
  /* global Polymer */
  Polymer({
    is: 'syloc-main',
    properties: {
      key: {
        type: String,
        notify: true,
      },
      a11yKeysTarget: {
        type: Object,
        value: function() { return this.$.input; }
      },
      firebaseUrl: {
        type: String,
        value: function() { return "https://syloc.firebaseio.com/backgrounds/" + (Math.random() * 2 | 0); },
      },
      bgUrl: {
        type: String,
        observer: '_bgUrlChanged',
      },
    },
    onEnter: function() {
      window.location.href = '/a/' + this.key;
    },
    _bgUrlChanged: function() {
      this.style.backgroundImage = "url('" + this.bgUrl + "')";
    },
  });
</script>