<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/image-icons.html">

<link rel="import" href="../syloc/syloc-constants.html">
<link rel="import" href="../syloc/syloc-photos-add.html">


<dom-module id="syloc-album-list-item">
  <template>
    <style>
      #album-item {
        border-bottom-color: var(--divider-color);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        display: flex;
      }
      #album-item div {
        margin-right: 20px;
      }
    </style>
    <syloc-constants admin-album-path="{{_editAlbumPath}}"></syloc-constants>
    <div id="album-item">
      <div>[[albumKey]]</div>
      <div><iron-icon icon="image:add-a-photo" on-click="_toggleAddPhotosDialog"></iron-icon></div>
      <div><iron-icon icon="folder" on-click="_navigateToEditAlbum"></iron-icon></div>
    </div>
    <syloc-photos-add id="addPhotosDialog" album-key="[[albumKey]]" album-id="[[albumId]]"></syloc-photos-add>
  </template>
</dom-module>

<script>
  /* global Polymer */
  Polymer({
    is: 'syloc-album-list-item',
    properties: {
      albumKey: String,
      albumId: String,
    },
    _toggleAddPhotosDialog: function(e, detail, sender) {
      this.$.addPhotosDialog.toggle();
    },
    _navigateToEditAlbum: function() {
      window.location.href = this._editAlbumPath + this.key;
    },
  });
</script>