<link href="../polymer/polymer.html" rel="import">

<link href="../paper-input/paper-input.html" rel="import">


<dom-module id="syloc-main">
  <link href="../syloc/theme-melon.css" type="css" rel="import">
  <style is="custom-style">
    :host {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .input-box {
      padding: 12px;
      border-radius: 16px;
    }
  </style>
  <template>
    <section hero class="input-box">
      <paper-input label="Key"></paper-input>
    </section>
  </template>
</dom-module>

<script>
  /* global Polymer */
  Polymer({
    is: 'syloc-main',
    properties: {
    },
  });
</script>