<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/editor-icons.html">

<link rel="import" href="../syloc/syloc-sortable-photo.html">


<dom-module id="syloc-sortable-group">
  <template>
    <style>
      :host {
        -webkit-user-select: none;
        user-select: none;
      }
      #container {
        padding: 12px;
        border-color: var(--divider-color);
        border-width: 1px;
        border-style: solid;
        background-color: var(--secondary-background-color);
        border-radius: 8px;
        margin: 12px;
      }
      .title {
        line-height: 24px;
      }
      .titleBar {
        display: flex;
      }
      .group {
        display: flex;
      }
    </style>
    <div id="container">
      <div draggable="true" on-dragstart="_dragStart" class="titleBar">
        <div><iron-icon icon="editor:drag-handle"></iron-icon></div>
        <div class="title">[[key]]</div>
      </div>
      <div class="group">
        <template is="dom-repeat" items="[[_groups]]">
          <div><syloc-sortable-group key="[[item]]" value="[[_valueOfKey(item)]]"></syloc-sortable-group></div>
        </template>
        <template is="dom-repeat" items="[[_photos]]">
          <div><syloc-sortable-photo key="[[item]]" value="[[_valueOfKey(item)]]"></syloc-sortable-photo></div>
        </template>
      </div>
		</div>
	</div>
  </template>
</dom-module>

<script>
  /* global Polymer */
  Polymer({
    is: 'syloc-sortable-group',
    properties: {
      key: String,
      value: {
        type: Object,
        observer: '_onValueChanged',
      },
      _groups: Array,
      _photos: Array,
    },
    _onValueChanged: function() {
      this.render();
    },
    _valueOfKey: function(key) {
      return this.value[key];
    },
    render: function() {
      var data = this.value;
      this._groups = Object.keys(data).filter(key => data[key] instanceof Object);
      this._photos = Object.keys(data).filter(key => typeof data[key] === 'string');
    },
    _dragStart: function(e) {
      this.fire('parent', this._findParentGroup());
      e.dataTransfer.effectAllowed = 'move';
      e.dataTransfer.setData('key', this.key);
      e.dataTransfer.setData('value', JSON.stringify(this.value));
      e.dataTransfer.setData('type', 'group');
      e.dataTransfer.setDragImage(this.$.container,0 ,0);
    },
    _findParentGroup: function() {
      var el = this.parentElement;
      while (el) {
        if (el.tagName === 'SYLOC-SORTABLE-GROUP') return el;
        el = el.parentElement;
      }
    },
  });
</script>