<!DOCTYPE html>
<html>
  <head>
    <title>Nicole Sykes Locations</title>
    <style type="text/css">
      html, body {
        background-size: cover;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <script src="/components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link href="/components/syloc/theme-melon.html" rel="import">
    <link href="/components/syloc/syloc-album.html" rel="import">
    <template is="dom-bind">
      <syloc-album photos="{{photos}}"></syloc-album>
    </template>
    <script>
      var scope = document.querySelector('template[is="dom-bind"]');
      scope.photos = JSON.parse('${photos}');
    </script>
  </body>
</html>